<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">Paso 1 -  Variables </ng-template>
        <ng-template pTemplate="subtitle"> Seleccione las opciones </ng-template>
        
        <ng-template pTemplate="content">
       
            <div class="col-12">
                <p-toast></p-toast>
                <div class="card">
                    <h5>Variables</h5>
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-3">
                            <label htmlFor="address">Flujo de comercio exterior</label>
                            <p-dropdown  [options]="flujos.flujos" required (onChange)="onChangeFlujo($event)" [(ngModel)]="paso1Information.selectedFlujo" optionLabel="des" [showClear]="true" placeholder="Seleccione flujo"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label htmlFor="city">Varables cuantitativas</label>
                            <!--<p-multiSelect [options]="cuantitativas" [(ngModel)]="selectedCuantitativas" formControlName="" optionLabel="des" placeholder="Seleccione v. cuantitativas"></p-multiSelect>-->
                            <p-multiSelect [options]="cuantitativas"  required [(ngModel)]="paso1Information.selectedCuantitativas" optionLabel="des" placeholder="Seleccione v. cuantitativas"></p-multiSelect>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label htmlFor="state">Periodicidad</label>
                            <p-dropdown [options]="periodicidad.periodicidad"  required [(ngModel)]="paso1Information.selectedPeriocidad" optionLabel="des" [showClear]="true" placeholder="Seleccione periodicidad"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-3">
                            <label htmlFor="zip">Año de referencia</label>
                            <p-multiSelect [options]="gestiones.gestiones" required [(ngModel)]="paso1Information.selectedGestiones" optionLabel="gestion" placeholder="Seleccione año(s)"></p-multiSelect>
                        </div>
                    </div>
                </div>
            </div> 
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Siguiente" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>