<!--<div class="grid">
    <div class="col-12">
        <p-tabMenu [model]="items"></p-tabMenu>

      
        <div id="chartdiv" style="width: 100%; height: 500px"></div>

        <ag-grid-angular
        class="ag-theme-quartz"
        style="height: 500px;"
        [rowData]="rowData"
        [columnDefs]="colDefs">
      </ag-grid-angular>

        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Anterior" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        </div>

    </div>
</div>-->

<div class="grid">
    <div class="col-12">
        <p-tabMenu [model]="items" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
      
        <div *ngIf="selectedTab === 'Gráfico'">
            <div id="chartdiv" style="width: 100%; height: 500px"></div>
        </div>
        <div *ngIf="selectedTab === 'Tabla'">
            <ag-grid-angular
                class="ag-theme-quartz"
                style="height: 500px;"
                [rowData]="rowData"
                [columnDefs]="colDefs">
        </ag-grid-angular>
        </div>

        <div class="grid grid-nogutter justify-content-between">
            <p-button label="Anterior" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        </div>
    </div>
</div>
